<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{employee.mailId}}
  </div>  
   
  <div>
    <label><b>Employee Id: </b></label> {{employee.empId}}
  </div>
  
   <div>
    <label><b>Date of birth: </b></label> {{employee.doB}}
  </div>
  
  <div>
    <label><b>Project id: </b></label> {{employee.projectId}}
  </div>
  
  
  <div>
    <label><b>Reporting Manager: </b></label> {{employee.repManager}}
  </div>
  
  <div>
    <label><b>Proect Role: </b></label> {{employee.projRole}}
  </div>
  <div>
    <label><b>Experience: </b></label> {{employee.exp}}
  </div>
  
  <div>
    <label><b>Address Line 1: </b></label> {{employee.aLine1}}
  </div>
  
  <div>
    <label><b>Adress Line2: </b></label> {{employee.aLine2}}
  </div>
  
  <div>
    <label><b>City: </b></label> {{employee.city}}
  </div>
  
  <div>
    <label><b>State: </b></label> {{employee.state}}
  </div>
  
  <div>
    <label><b>Country: </b></label> {{employee.country}}
  </div>
  
  <div>
    <label><b>PinCode: </b></label> {{employee.pinCode}}
  </div>
  
  <div>
    <label><b>Work Location: </b></label> {{employee.workLoc}}
  </div>
  
  
  <div>
    <label><b>ODC ACCESS Request: </b></label> {{employee.odcAccReq}}
  </div>
  
  <div>
    <label><b>Desk Request: </b></label> {{employee.desReq}}
  </div>
  
  <div>
    <label><b>Seat Teg: </b></label> {{employee.seatTag}}
  </div>
  
  <div>
    <label><b>L1-Certification : </b></label> {{employee.l1Cert}}
  </div>
  
   <div>
    <label><b>L2-Certification: </b></label> {{employee.l2Cert}}
  </div>
  
   <div>
    <label><b>Primary Skill: </b></label> {{employee.primSkill}}
  </div>
  
   <div>
    <label><b>Secondary Skill: </b></label> {{employee.secSkill}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>


